grpcio==1.78.0
grpcio-tools==1.78.0
protobuf>=5.26.1
watchdog==6.0.0

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-grpc